#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

.interactionMenu {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: clamp(150px, 80vw, 900px);
  height: clamp(100px, 60vh, 800px);

  padding-top: 100px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-family: Arial, sans-serif;
  border-radius: 2px;
  z-index: 10;
}

.interactionMenu p {
  font-size: clamp(14px, 2vw, 24px);
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
